Repository home-assistant/docker: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-landingpage.yml, azure-pipelines-wheels.yml

azure-pipelines-landingpage.yml:

# https://dev.azure.com/home-assistant

trigger:
  batch: true
  branches:
    include:
    - master
  paths:
    include:
    - landingpage/*
pr: none

variables:
  - name: versionBuilder
    value: '6.4'
  - group: docker

jobs:
- job: 'Landingpage'
  pool:
    vmImage: 'ubuntu-latest'
  steps:
  - script: sudo docker login -u $(dockerUser) -p $(dockerPassword)
    displayName: 'Docker hub login'
  - script: sudo docker pull homeassistant/amd64-builder:$(versionBuilder)
    displayName: 'Install Builder'
  - script: |
      sudo docker run --rm --privileged \
        -v ~/.docker:/root/.docker \
        -v /run/docker.sock:/run/docker.sock:rw -v $(pwd):/data:ro \
        homeassistant/amd64-builder:$(versionBuilder) --homeassistant-landingpage ALL \
        -t /data/landingpage --docker-hub homeassistant
    displayName: 'Build Landingpage'

azure-pipelines-wheels.yml:

# https://dev.azure.com/home-assistant

trigger:
  batch: true
  branches:
    include:
    - master
  paths:
    include:
    - base/requirements.txt
pr: none
variables:
  - name: versionWheels
    value: '1.3-3.7-alpine3.10'
resources:
  repositories:
    - repository: azure
      type: github
      name: 'home-assistant/ci-azure'
      endpoint: 'home-assistant'

jobs:
- template: templates/azp-job-wheels.yaml@azure
  parameters:
    builderVersion: '$(versionWheels)'
    builderApk: 'build-base;mariadb-dev;postgresql-dev;unixodbc-dev;libffi-dev;cmake;ncurses;git'
    wheelsRequirement: 'base/requirements.txt'

Use base image 5.3
  generic/Dockerfile
Due: none

Add some library back
  machine/raspberrypi
  machine/raspberrypi2
  machine/raspberrypi3
  machine/raspberrypi3-64
  machine/raspberrypi4
  machine/raspberrypi4-64
Due: none

Install libgammu-dev
  base/Dockerfile
Due: none

add packages for Intel NUC iGPU access in Hassio
  machine/intel-nuc
Due: none

fix needed packages
  machine/intel-nuc
Due: none

Update intel-nuc
  machine/intel-nuc
Due: none

add packages for Intel NUC iGPU access in Hassio (#83)
  machine/intel-nuc
Due: none

Build libcec for HDMI-CEC on QEMU machine platforms
  machine/qemuarm
  machine/qemuarm-64
  machine/qemux86
  machine/qemux86-64
Due: none

Use JS instead of refresh for landing page
  landingpage/www/Roboto-Regular.woff2
  landingpage/www/index.html
  landingpage/www/logo.svg
Due: azure-pipelines-landingpage.yml

Use JS instead of refresh for landing page (#86)
  landingpage/www/Roboto-Regular.woff2
  landingpage/www/index.html
  landingpage/www/logo.svg
Due: azure-pipelines-landingpage.yml

Promote apps
  landingpage/www/apple-badge.svg
  landingpage/www/google-badge.png
  landingpage/www/index.html
Due: azure-pipelines-landingpage.yml

Promote apps (#87)
  landingpage/www/apple-badge.svg
  landingpage/www/google-badge.png
  landingpage/www/index.html
Due: azure-pipelines-landingpage.yml

Add gammu-libs for sms support
  base/Dockerfile
Due: none

Add gammu-libs for sms support (#88)
  base/Dockerfile
Due: none

Build libcec for HDMI-CEC on QEMU machine platforms (#85)
  machine/qemuarm
  machine/qemuarm-64
  machine/qemux86
  machine/qemux86-64
Due: none

Use Base 5.4
  generic/Dockerfile
Due: none

Fix nginx config & reorg landingpage
  landingpage/Dockerfile
  landingpage/data/nginx.conf
  landingpage/data/run.sh
  landingpage/entry.sh
  landingpage/nginx.conf
Due: azure-pipelines-landingpage.yml

Fix nginx config & reorg landingpage (#90)
  landingpage/Dockerfile
  landingpage/data/nginx.conf
  landingpage/data/run.sh
  landingpage/entry.sh
  landingpage/nginx.conf
Due: azure-pipelines-landingpage.yml

Extend CEC support with generic linux interface
  README.md
  machine/data/libcec.patch
  machine/intel-nuc
  machine/odroid-c2
  machine/odroid-n2
  machine/odroid-xu
  machine/qemuarm
  machine/qemuarm-64
  machine/qemux86
  machine/qemux86-64
  machine/raspberrypi
  machine/raspberrypi2
  machine/raspberrypi3
  machine/raspberrypi3-64
  machine/raspberrypi4
  machine/raspberrypi4-64
Due: none

Extend CEC support with generic linux interface (#93)
  README.md
  machine/data/libcec.patch
  machine/intel-nuc
  machine/odroid-c2
  machine/odroid-n2
  machine/odroid-xu
  machine/qemuarm
  machine/qemuarm-64
  machine/qemux86
  machine/qemux86-64
  machine/raspberrypi
  machine/raspberrypi2
  machine/raspberrypi3
  machine/raspberrypi3-64
  machine/raspberrypi4
  machine/raspberrypi4-64
Due: none

Update README.md
  README.md
Due: none

Revert "Bump pyodbc from 4.0.28 to 4.0.30 in /base (#94)"
  base/requirements.txt
Due: azure-pipelines-wheels.yml

Revert "Bump pyodbc from 4.0.28 to 4.0.30 in /base (#94)" (#95)
  base/requirements.txt
Due: azure-pipelines-wheels.yml

Fix typo
  landingpage/www/index.html
Due: azure-pipelines-landingpage.yml

Migrate to S6-Overlay
  base/Dockerfile
  base/entry.sh
  base/rootfs/etc/cont-init.d/udev.sh
  base/rootfs/etc/odbcinst.ini
  generic/Dockerfile
  generic/rootfs/etc/services.d/home-assistant/finish
  generic/rootfs/etc/services.d/home-assistant/run
  landingpage/Dockerfile
  landingpage/data/run.sh
  landingpage/rootfs/etc/nginx/nginx.conf
  landingpage/rootfs/etc/services.d/nginx/finish
  landingpage/rootfs/etc/services.d/nginx/run
  landingpage/rootfs/usr/share/www/Roboto-Regular.woff2
  landingpage/rootfs/usr/share/www/apple-badge.svg
  landingpage/rootfs/usr/share/www/google-badge.png
  landingpage/rootfs/usr/share/www/index.html
  landingpage/rootfs/usr/share/www/logo.svg
Due: azure-pipelines-landingpage.yml

Migrate builder generic
  azure-pipelines.yml
  base/build.json
Due: none

Update base/rootfs/etc/cont-init.d/udev.sh
  base/rootfs/etc/cont-init.d/udev.sh
Due: none

Update landingpage/rootfs/etc/services.d/nginx/run
  landingpage/rootfs/etc/services.d/nginx/run
Due: azure-pipelines-landingpage.yml

Fix validate
  azure-pipelines.yml
Due: none

Migrate to S6-Overlay (#98)
  azure-pipelines.yml
  base/Dockerfile
  base/build.json
  base/entry.sh
  base/rootfs/etc/cont-init.d/udev.sh
  base/rootfs/etc/odbcinst.ini
  generic/Dockerfile
  generic/rootfs/etc/services.d/home-assistant/finish
  generic/rootfs/etc/services.d/home-assistant/run
  landingpage/Dockerfile
  landingpage/data/run.sh
  landingpage/rootfs/etc/nginx/nginx.conf
  landingpage/rootfs/etc/services.d/nginx/finish
  landingpage/rootfs/etc/services.d/nginx/run
  landingpage/rootfs/usr/share/www/Roboto-Regular.woff2
  landingpage/rootfs/usr/share/www/apple-badge.svg
  landingpage/rootfs/usr/share/www/google-badge.png
  landingpage/rootfs/usr/share/www/index.html
  landingpage/rootfs/usr/share/www/logo.svg
Due: azure-pipelines-landingpage.yml

Use new base with overlay
  generic/Dockerfile
Due: none

Use config as working dir
  generic/rootfs/etc/services.d/home-assistant/run
Due: none

fix lint
  generic/rootfs/etc/services.d/home-assistant/run
Due: none

Update run
  generic/rootfs/etc/services.d/home-assistant/run
Due: none

Use config as working dir (#103)
  generic/rootfs/etc/services.d/home-assistant/run
Due: none

Update Dockerfile
  generic/Dockerfile
Due: none

Migrate alpine 3.11
  azure-pipelines-wheels.yml
  base/Dockerfile
  base/build.json
Due: none

Migrate alpine 3.11 (#105)
  azure-pipelines-wheels.yml
  base/Dockerfile
  base/build.json
Due: none

Fix issue with alpine 3.11
  base/Dockerfile
Due: none

Fix issue with alpine 3.11 (#106)
  base/Dockerfile
Due: none
